
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
}
  

.start-screen {
    width: 100vmin;
    height: 100vmin;
    background: url(../assets/images/minecraft_icon.jpeg) no-repeat  center/cover;
}

.start-button {
    width: 150px;
    height: 50px;
    border: 3px #000 solid;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 30px;
    margin: 85% auto 0;
}


#game-board {
    background-color: rgb(21, 147, 215);
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    display: none;
}

.side-bar {
    width: 10vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.tool-box {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    
    
}

.tool {
    width: 90px;
    height: 90px;
    background-color: lightslategrey;
    margin: 10px;
}

.inventory {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    row-gap: 8px;
    width: 50px;
    height: 200px;
    /* border: lightslategrey 2px solid; */
    margin: 20px;
}


div [data-tool="axe"]{
    background: url(../assets/images/SeekPng.com_minecraft-chicken-png_10095783.png) center center/cover ;
}


div [data-tool="pickaxe"]{
    background: url(../assets/images/SeekPng.com_diamond-pickaxe-png_1552980\ 2.png) center center/cover ;
}

div [data-tool="shovel"]{
    background: url(../assets/images/SeekPng.com_shovel-png_247019.png) center center/cover ;
}


div [data-tile = "tree"] {
    background-color: brown;
    background: url(../assets/images/tree.jpeg) center center;
}
div [data-tile = "leaves"] {
    background: url(../assets/images/leaves.jpeg) center center;
}
  
div [data-tile = "rock"] {
    background: url(../assets/images/stone.jpeg) center center;
}
  
div [data-tile = "ground"] {
    background: url(../assets/images/soil.jpeg) center center/cover;
}
  
div [data-tile = "grass"] {
    background: url(../assets/images/grass.png) center center/cover;
}

div [data-tile = "cloud"] {
    background-color: rgb(255, 255, 255);
}


.next-button {
    color: #000;
    font-family: monospace;
    display: none ;
    padding: 5px;
    background-color: #fff;
}


